body {
    background-color: #E6C786;
}

@font-face {
    font-family: 'Iceland';
    src: url(Iceland-Regular.ttf);
}

.countdown .title-countdown {
    border-radius: 3px;
    text-align: center;
    width: 200px;
    margin-left: 40px;
    height: 20px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.countdown {
    top: 20%;
    left: 40%;
    position: absolute;
    width: 280px;
    height: 140px;
    overflow: hidden;
}

.countdown ul {
    list-style: none;
    margin: auto;
    padding: auto;
    text-align: center;
}

.countdown ul li {
    font-size: 30px;
    border-radius: 3px;
    width: 50px;
    line-height: 60px;
    float: left;
    background-color: rgba(27, 30, 33, 0.81);
    margin-left: 1px;
    color: white;
    font-family: Iceland;

}

.day {
    position: relative;
    font-size: 18px;
    background-color: rgba(38, 156, 17, 0.6);
    border-radius: 3px;
}